* {
  margin: 0;
  padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.navbar{
    display: flex;
}

.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-list li a:hover{
    color: rgb(199, 199, 247);
}

.rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../image/back.png');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 50%;
    margin: auto;
    height: 80%;
    font-family: 'Courier New', Courier, monospace;
}

.firstHalf{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.secondtHalf{
 width: 30%;
}

.secondtHalf img{
    width: 70%;
    padding-top: 2px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

